.products-list {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  row-gap: 20px;

  @media (min-width: $tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
  }
}
