.button {
  padding: 8px 20px;
  border: none;
  border-radius: 4px;
  background-color: $primary;
  color: $white;
  font-family: $font-montserrat;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;

  &:focus,
  &:hover {
    background-color: $primary-light;
  }

  &:active {
    background-color: $primary-dark;
  }

  &:disabled {
    background-color: $gray;
    cursor: auto;
  }

  &--white {
    background-color: $white;
    color: $primary;

    &:focus,
    &:hover,
    &:active,
    &:disabled {
      color: $white;
    }

    &:disabled {
      background-color: $gray-light;
    }
  }
}
