.line {
  @media (max-width: $mobail-max) {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -20px;
      height: 1px;
      background-color: $secondary;
    }
  }
}
