$white: #ffffff;
$gray: #bdbdbd;
$black: #333333;
$primary: #7859cf;
$secondary: #f0ebff;

$primary-opacity: rgba(120, 89, 207, 0.25);
$primary-light: #9070ec;
$primary-dark: #593cac;
$gray-light: #e2e2e2;

$lightest-grey: #f8f8f8;
$flat-white: #f3ebe1;
$lavender-latte: #eae6fc;
$espresso: #e5e6e8;

$product-card-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
$sorting-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

$swiper-button-active-prev: linear-gradient(
  90deg,
  rgba(120, 89, 207, 0.25) 0%,
  rgba(120, 89, 207, 0) 100%
);

$swiper-button-active-next: linear-gradient(
  270deg,
  rgba(120, 89, 207, 0.25) 0%,
  rgba(120, 89, 207, 0) 100%
);

$swiper-button-hover-prev: linear-gradient(
  90deg,
  #ffffff 0%,
  rgba(255, 255, 255, 0) 100%
);

$swiper-button-hover-next: linear-gradient(
  270deg,
  #ffffff 0%,
  rgba(255, 255, 255, 0) 100%
);
