/* здесь используйте глобальные переменные */
$font-montserrat: "Montserrat", "Arial", sans-serif;

$mobail: 320px;
$mobail-max: 767px;
$tablet: 768px;
$tablet-max: 1439px;
$desktop: 1440px;
$extra: 1441px;
